.header-wrap
  %nav.navbar.navbar-inverse
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{data: { toggle: 'collapse', target: '#main-nav' }}
          %span.sr-only Toggle Navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        %a.navbar-brand{href: root_path}
          = image_tag "logos/codehire-60x60.png"

      #main-nav.collapse.navbar-collapse
        %ul.nav.navbar-nav= render partial: 'layouts/nav_links'
        %ul.nav.navbar-nav.navbar-right
          %li
            %a{href: 'https://codehire.com/runtime'} Runtime
          %li
            %a{href: 'https://codehire.com/'} Codehire
